// New Design
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
$Montserat: 'Montserrat',
sans-serif;
$Cormorant: 'Cormorant',
serif;
//Color
$defaulColor: #011350;
$white: #fff;

$accent:#E95B8E;

body {
    color: $defaulColor;
    font-family: $Montserat;
    background-color: transparent !important;
}


.et_pb_post .entry-title a,
.et_pb_post h2 a,
body div h2 a {
    color: $defaulColor !important;
}


body a {
    color: $defaulColor;
}



p {

    a {
        color: rgba(1, 19, 80, 0.5);
    }

}



.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;

    @media screen and (max-width: 1439px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.banner-img {
    max-width: 992px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    &__inner {
        display: block;
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: calc(400 / 992 * 100%);

        @media (max-width: 767px) {
            padding-bottom: calc(200 / 375 * 100%);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

// sidebar
.et_right_sidebar {
    #main-content .container {
        &:before {
            display: none;
        }
    }
}

@media (min-width: 981px) {
    .et_right_sidebar #sidebar {
        padding-left: 0;
        padding-right: 0;
    }
}

#sidebar {
    padding-left: 0;
    padding-right: 0;
    width: 324px;
}

.orderby,
.woocommerce div.product form.cart .variations td select {
    border: 1px solid rgba(1, 19, 80, 0.5);
    border-radius: 5px;
    background-color: transparent;
    color: $defaulColor !important;
    min-height: 32px;
}

.wp-block-cover {
    padding: 0;
    position: relative !important;

    .wp-block-cover__inner-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 34px;

        h2 {
            font-size: 24px;
            line-height: 28px;
            font-family: $Cormorant;
            padding: 10px;
            background-color: #D1B190;
            text-align: center;
            width: 100%;
        }

        p {
            font-family: $Montserat;
            font-size: 16px;
            line-height: 19px;
            color: $defaulColor;
            font-weight: 400;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;

            &:nth-of-type(1) {
                margin-top: auto;
            }

            ~a {
                margin-top: 16px;
            }
        }

        a {
            font-family: $Montserat;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            color: $defaulColor;
            display: inline-block;
            background-color: $white;
            border-radius: 50px;
            padding: 8px 20px;
            position: relative;

            &.tel {
                padding: 8px 20px 8px 52px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4 20C11.3173 19.9947 7.40331 18.3705 4.5164 15.4836C1.62949 12.5967 0.00529192 8.68271 0 4.6C0 3.38 0.484642 2.20998 1.34731 1.34731C2.20998 0.484641 3.38 -1.46123e-07 4.6 -1.46123e-07C4.85834 -0.00196795 5.11625 0.0214782 5.37 0.0699998C5.61531 0.1063 5.85647 0.166589 6.09 0.25C6.25425 0.307629 6.40061 0.407133 6.51461 0.538672C6.62861 0.670211 6.7063 0.829228 6.74 1L8.11 7C8.14693 7.16286 8.14248 7.33238 8.09706 7.49308C8.05165 7.65379 7.96671 7.80056 7.85 7.92C7.72 8.06 7.71 8.07 6.48 8.71C7.46499 10.8709 9.1932 12.6062 11.35 13.6C12 12.36 12.01 12.35 12.15 12.22C12.2694 12.1033 12.4162 12.0184 12.5769 11.9729C12.7376 11.9275 12.9071 11.9231 13.07 11.96L19.07 13.33C19.2353 13.3684 19.3881 13.4481 19.5141 13.5619C19.64 13.6756 19.735 13.8195 19.79 13.98C19.8744 14.2174 19.938 14.4616 19.98 14.71C20.0202 14.9613 20.0403 15.2155 20.04 15.47C20.0216 16.6848 19.5233 17.8429 18.654 18.6917C17.7847 19.5404 16.6149 20.0107 15.4 20Z' fill='%23011350'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

#sidebar {
    .widget.widget_layered_nav_filters {
        margin-bottom: 50px;

        ul {
            @media (max-width: 1024px) {
                padding-left: 0;
                padding-right: 0;
            }

            li {
                font-family: $Montserat;

                a {
                    display: flex;
                    align-items: center;
                    padding: 8px 12px;
                    background-color: $defaulColor;
                    color: $white;
                    font-weight: 400;
                    border-radius: 4px;
                    min-width: 65px;

                    &::before {
                        color: $white;
                    }

                    @media (max-width: 1024px) {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.wp-block-group__inner-container {
    @media (max-width: 1024px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 999999;
        padding: 70px 15px;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        transform: translateX(-100%);
        transition: transform .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &.show-sidebar {
        transform: translateX(0);
    }
}

.mobile-sidebar-btn {
    display: none;

    @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        padding: 2px;
        border: 0;
        box-shadow: none;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top: 21px;
        cursor: pointer;

        svg,
        path {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

#sidebar .et_pb_widget {

    ul,
    .textwidget {
        padding-left: 20px;
        padding-right: 20px;

        a {
            color: rgba(1, 19, 80, 0.5);
        }
    }
}

#sidebar .widgettitle {
    font-weight: 400;
    font-family: $Montserat;
    color: $defaulColor;
    position: relative;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 24px;
}

#sidebar .woocommerce-widget-layered-nav {
    &:last-child {
        border-bottom: 1px solid rgba(1, 19, 80, 0.3);
    }

    &.show-menu {
        .widgettitle {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.999 6.83c0-.15-.028-.297-.083-.432a.993.993 0 0 0-.234-.348L6.539 1.22a.786.786 0 0 0-.544-.227c-.198 0-.39.08-.544.227l-5.142 5c-.175.17-.285.414-.306.678-.021.264.049.528.194.732a.829.829 0 0 0 .581.357.779.779 0 0 0 .628-.227L6 3.29l4.593 4.32c.126.122.28.2.442.224a.75.75 0 0 0 .475-.09.917.917 0 0 0 .36-.373c.086-.162.13-.35.129-.541Z' fill='%23011350' fill-opacity='.5'/%3E%3C/svg%3E");
            }
        }

        .woocommerce-widget-layered-nav-list {
            height: auto;
        }
    }

    .widgettitle {
        cursor: pointer;
        padding-bottom: 10px;
        border-top: 1px solid rgba(1, 19, 80, 0.3);

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 7px;
            transform: translateY(-50%);
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.999 1.17c0 .15-.028.297-.083.432a.993.993 0 0 1-.234.348L6.539 6.78a.786.786 0 0 1-.544.228.786.786 0 0 1-.544-.228l-5.142-5a1.061 1.061 0 0 1-.306-.678C-.018.838.052.574.197.37A.828.828 0 0 1 .778.013a.779.779 0 0 1 .628.227L6 4.71 10.593.39a.802.802 0 0 1 .442-.224.75.75 0 0 1 .475.09.917.917 0 0 1 .36.373c.086.162.13.35.129.541Z' fill='%23011350' fill-opacity='.5'/%3E%3C/svg%3E");
            width: 12px;
            height: 7px;
        }
    }

    .woocommerce-widget-layered-nav-list {
        max-height: 220px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 0;

        &::-webkit-scrollbar {
            width: 4px;
            background: rgba(1, 19, 80, 0);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(1, 19, 80, 0.5);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: transparent;
        }

        .wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen {
            &.chosen {

                .count,
                a {
                    color: $defaulColor;
                    font-weight: 700;
                }
            }
        }

        .count,
        a {
            font-family: $Montserat;
            color: rgba(1, 19, 80, 0.5);

            @media (hover: hover) {
                &:hover {
                    color: $defaulColor;
                }
            }
        }
    }
}

#sidebar .et_pb_widget {

    &.widget_recent_comments,
    &.widget_recent_entries {
        li {
            color: rgba(17, 34, 91, 0.3);

            @media (hover: hover) {
                &:hover {
                    a {
                        color: $defaulColor;
                        text-decoration: underline;
                    }
                }
            }

            a {
                color: rgba(17, 34, 91, 0.5);
            }

            .post-date {
                display: block;
            }
        }
    }

    &.widget_recent_comments {
        .widgettitle {
            border-bottom: 1px solid rgba(1, 19, 80, 0.3);
        }

        ul {
            padding-top: 10px;
        }

        li {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: -20px;
                border-bottom: 1px solid rgba(1, 19, 80, 0.3);
                width: calc(100% + 40px);
                height: 1px;
            }

            padding-bottom: 10px;

            a {
                display: block;
            }
        }
    }

    &.widget_recent_entries {
        li {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

#sidebar .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen {

    a,
    .count {
        font-weight: 700;
    }

    a,
    .count,
    a::before {
        color: $defaulColor;
    }
}

// main
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    float: right;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    float: left;
}

@media (min-width: 981px) {
    .et_right_sidebar #left-area {
        float: right;
        padding-left: 60px;
        padding-right: 0;
        width: calc(100% - 324px);
    }
}

.woocommerce ul.products {
    li.product {
        >a {
            padding-top: 15px;
        }
    }

    li.product .woocommerce-loop-product__title,
    .woocommerce-loop-product__title {
        text-align: center;
        color: $defaulColor;
        font-size: 1rem !important;
    }
}

.woocommerce ul.products li.product .button.product_type_simple,
.woocommerce .button:disabled[disabled],
.woocommerce .button.add_to_cart_button:disabled[disabled],
.woocommerce div.product form.cart .button:disabled[disabled],
.woocommerce ul.products li.product a.product_type_simple:disabled[disabled],
.woocommerce ul.products li.product button.product_type_simple:disabled[disabled] {
    background: rgba(1, 19, 80, 0.5) !important;
    pointer-events: none !important;

    @media(hover: hover) {
        &:hover {
            background-color: rgba(1, 19, 80, 0.5) !important;
            border-color: transparent !important;
            color: $white !important;
        }
    }
}

body button.et_pb_button,
body input.et_pb_button,
body a.et_pb_button,
body .woocommerce button.button,
body .woocommerce a.button,
body .woocommerce .checkout-button,
body .woocommerce a.button.alt,
.woocommerce #review_form #respond .form-submit input,
body #main-content .woocommerce-page a.button.alt,
.woocommerce .button.add_to_cart_button,
.woocommerce div.product form.cart .button,
.woocommerce ul.products li.product a.product_type_simple,
.woocommerce ul.products li.product .add_to_cart_button,
.woocommerce ul.products li.product a.product_type_simple.ajax_add_to_cart {
    pointer-events: auto !important;
    padding: 7px 40px 7px 20px !important;
    font-size: 14px !important;
    line-height: 16px !important;
    border-radius: 20px !important;
    background-color: $accent !important;
    border-color: transparent !important;
    color: $white !important;
    margin-top: 0 !important;

    &:after {
        font-size: 16px !important;
        line-height: 18px !important;
        margin-left: 0 !important;
        color: $white !important;
        opacity: 1 !important;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover {
        background-color: #BF4571 !important;
        border-color: transparent !important;
        color: $white !important;
    }
}

.woocommerce #review_form #respond .form-submit input {
    padding-right: 20px !important;
}

body #main-content #left-area .wc-proceed-to-checkout a.button.alt {
    padding: 12px 40px 12px 20px !important;
}

.product__country-name {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: $defaulColor;
}

.product__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.product__availability {
    font-size: 12px;
    line-height: 14px;
    color: $defaulColor !important;
}


.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
    color: $defaulColor !important;

    del {
        * {
            font-size: 16px !important;
            line-height: 20px !important;
            color: rgba($defaulColor, .5) !important;
            text-decoration: line-through !important;
        }
    }
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    del {
        margin-left: 5px;


        * {
            font-size: 18px !important;
            line-height: 24px !important;
        }
    }
}

.woocommerce .woocommerce-Price-amount {
    font-size: 16px !important;
    line-height: 20px !important;
    color: $accent !important;
    font-weight: 700 !important;
}

.product-quantity {
    @media (max-width: 768px) {
        display: flex !important;
        align-items: center;

        &:before {
            margin-right: 20px;
        }
    }

}

.product-quantity,
.product-card__quantity-wrap {
    form {
        display: flex;
    }

    .product-card__quantity {
        margin-right: 20px;

        input {
            width: calc(100% - 48px);
        }
    }
}

.product-card__quantity {
    display: flex;
    max-width: 112px;
    width: 100%;
    border: 1px solid rgba($defaulColor, .5);
    border-radius: 20px;
    padding: 4px;
    height: 34px;

    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    label {
        width: calc(100% - 48px);
    }

    input {
        border-radius: 0;
        border: none;
        box-shadow: none;
        width: 100%;
        background-color: transparent;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        font-weight: 400;
        color: $defaulColor;
    }
}

.product-card__quantity-minus,
.product-card__quantity-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    color: $defaulColor;
    transition: opacity .4s;
    cursor: pointer;
    padding: 2px;

    @media(hover: hover) {
        &:hover {
            opacity: .5;
        }
    }
}

.woocommerce span.onsale,
.woocommerce-page span.onsale {
    background: $defaulColor !important;
    border-radius: 50% !important;
    font-family: $Cormorant;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    padding: 8px 15px !important;
}

.woocommerce ul.products li.product .wrap-new,
.woocommerce-page ul.products li.product .wrap-new {

    .product__label-new,
    span.onsale {
        position: initial !important;
        margin-bottom: 5px !important;
    }
}

.wrap-new {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 10;
}

.product__label-new,
.product__favorite-button {
    position: absolute;
    top: 10px;
    z-index: 10;
}

.product__label-new {
    left: 10px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    color: $white;
    font-family: $Cormorant;
    background-color: $accent;
    text-transform: uppercase;
    border-radius: 50%;
    padding: 10px 15px;
    overflow: hidden;
}

.product__favorite-button {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    width: 38px;
    height: 38px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    svg,
    path {
        display: block;
        width: 100%;
        height: 100%;
        stroke: rgba($defaulColor, .5);
    }

    &.favorite--active {

        svg,
        path {
            fill: $defaulColor;
            stroke: $defaulColor;
        }
    }

    @media(hover: hover) {
        &:hover {

            svg,
            path {
                stroke: $defaulColor;
            }
        }
    }
}

.product__favorite-text {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

li.product .wrappefr-slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;

    @media(min-width: 1280px) {
        opacity: 0;
    }
}

li.product {
    position: relative !important;



    @media (hover: hover) {
        &:hover {
            .wrappefr-slide {
                transition: opacity .4s;
                opacity: 1;
            }
        }
    }
}

.woocommerce .woocommerce-breadcrumb {
    color: $defaulColor;
    font-family: $Montserat;
    font-weight: 400;

    a {
        color: rgba(1, 19, 80, 0.5);
    }
}

.woocommerce-products-header__title {
    &.page-title {
        font-family: $Cormorant;
        font-weight: 700;
        color: $defaulColor;
    }
}

.term-description {
    color: $defaulColor;
}

#main-content .woocommerce-info {
    background-color: $defaulColor !important;
    font-family: $Montserat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.woocommerce-notices-wrapper {
    .woocommerce-message {
        background-color: $defaulColor !important;
        font-family: $Montserat;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        flex-direction: column;

        @media (max-width:768px) {
            font-size: 14px !important;
            line-height: 20px;
        }

        a.button.wc-forward {
            margin-right: auto;
            display: block;
            margin-bottom: 10px;
        }

        a.restore-item {
            margin-top: 10px;
            display: block;
            margin-left: auto;
        }

        .button.wc-forward,
        a {
            background-color: $white;
            color: $defaulColor !important;
            font-size: 14px !important;
            line-height: 20px !important;
            border: 1px solid transparent !important;

            @media (hover: hover) {
                &:hover {
                    color: $white !important;
                    border: 1px solid $white !important;
                    background-color: transparent !important;
                }
            }
        }
    }
}

body #main-content ul.products,
#main-content #left-area ul.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;

    li.product {
        width: calc(100% / 3);
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        margin-right: 0 !important;
        margin-left: 0 !important;
        position: relative;

        @media (hover: hover) {
            &:hover {
                background: #FFFFFF;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
                z-index: 10;

                .wrappefr-slide {
                    transition: opacity .4s;
                    opacity: 1;
                }
            }
        }

        @media (max-width: 1280px) {
            width: calc(100% / 2) !important;
            float: none !important;
        }

        @media (max-width: 767px) {
            width: 100% !important;
        }

        a {
            margin-bottom: 8px;

        }

        >a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            padding-left: 20px;
            padding-right: 20px;
        }

        .et_shop_image {
            .et_overlay {
                display: none;
            }
        }

        .wrappefr-slide {
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: auto;

            @media(min-width: 1280px) {
                opacity: 0;
            }
        }
    }
}

.woocommerce .woocommerce-result-count {
    @media (max-width: 640px) {
        float: none;
        text-align: right;
    }
}

.mobile__btn-filter {
    display: none;

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        background-color: $white;
        border: 1px solid rgba(1, 19, 80, 0.5);
        border-radius: 5px;
        box-shadow: none;
        font-size: 12px;
        line-height: 16px;
        font-family: $Montserat;
        font-weight: 400;
        min-width: 120px;
        min-height: 32px;
        float: left;
        margin-right: 12px;
        margin-bottom: 14px;
        color: $defaulColor;

        .mobile__btn-filter-icon {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 4px;

            svg,
            path {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Header
.header-block {
    #main-header {
        color: $defaulColor;
        background-color: $white;
        padding-top: 10px;
        box-shadow: 0 1px 0 rgba(1, 19, 80, 0.5);
        padding-left: 150px;

        @media(max-width: 1024px) {
            padding-left: 170px;
        }

        @media(max-width: 767px) {
            padding-left: 145px;
        }

        #et-secondary-menu {
            float: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media(max-width: 980px) {
                display: flex !important;
            }
        }

        .may-container {
            padding-left: 20px;
            padding-right: 20px;

            @media(max-width: 767px) {
                padding-left: 0;
            }
        }
    }

    .et_header_style_left #et-top-navigation .mobile_menu_bar {
        padding-bottom: 0 !important;
    }

    .et_pb_menu_hidden #top-menu,
    .et_pb_menu_hidden #et_search_icon:before,
    .et_pb_menu_hidden .mobile_menu_bar {
        @media(max-width: 1024px) {
            opacity: 1 !important;
            animation: none !important;
            -webkit-animation: none !important;
        }
    }

    #et_mobile_nav_menu {
        .mobile_nav {
            &.opened {
                .mobile_menu_bar {
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4099 12L17.7099 7.71C17.8982 7.5217 18.004 7.2663 18.004 7C18.004 6.7337 17.8982 6.47831 17.7099 6.29C17.5216 6.1017 17.2662 5.99591 16.9999 5.99591C16.7336 5.99591 16.4782 6.1017 16.2899 6.29L11.9999 10.59L7.70994 6.29C7.52164 6.1017 7.26624 5.99591 6.99994 5.99591C6.73364 5.99591 6.47824 6.1017 6.28994 6.29C6.10164 6.47831 5.99585 6.7337 5.99585 7C5.99585 7.2663 6.10164 7.5217 6.28994 7.71L10.5899 12L6.28994 16.29C6.19621 16.383 6.12182 16.4936 6.07105 16.6154C6.02028 16.7373 5.99414 16.868 5.99414 17C5.99414 17.132 6.02028 17.2627 6.07105 17.3846C6.12182 17.5064 6.19621 17.617 6.28994 17.71C6.3829 17.8037 6.4935 17.8781 6.61536 17.9289C6.73722 17.9797 6.86793 18.0058 6.99994 18.0058C7.13195 18.0058 7.26266 17.9797 7.38452 17.9289C7.50638 17.8781 7.61698 17.8037 7.70994 17.71L11.9999 13.41L16.2899 17.71C16.3829 17.8037 16.4935 17.8781 16.6154 17.9289C16.7372 17.9797 16.8679 18.0058 16.9999 18.0058C17.132 18.0058 17.2627 17.9797 17.3845 17.9289C17.5064 17.8781 17.617 17.8037 17.7099 17.71C17.8037 17.617 17.8781 17.5064 17.9288 17.3846C17.9796 17.2627 18.0057 17.132 18.0057 17C18.0057 16.868 17.9796 16.7373 17.9288 16.6154C17.8781 16.4936 17.8037 16.383 17.7099 16.29L13.4099 12Z' fill='%23011350'/%3E%3C/svg%3E%0A");
                }
            }
        }
    }

    .mobile_menu_bar {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        padding: 0 !important;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 12H21' stroke='%23011350' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 6H21' stroke='%23011350' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 18H21' stroke='%23011350' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        opacity: 1 !important;
        animation: none !important;
        -webkit-animation: none !important;
        cursor: pointer;

        @media(max-width: 767px) {
            width: 24px;
            height: 24px;
            left: 18px;
        }

        &::before {
            display: none !important;
        }
    }

    .nav-mobile-dropdown-btn {
        position: absolute;
        top: 0;
        right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        box-shadow: none;
        border: none;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        z-index: 10;
    }

    .logo_container {
        position: absolute;
        width: 132px;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        z-index: 11;
        display: flex;
        align-items: center;

        @media(max-width: 1024px) {
            width: 105px;
            left: 66px;
        }

        @media(max-width: 767px) {
            width: 90px;
            left: 56px;
        }

        img {
            display: block;
            animation: none;
            -webkit-animation: none;
        }
    }

    #et-top-navigation {
        padding-top: 0;
        float: none;
        transition: padding .4s;
        padding-left: 0 !important;
    }

    .et-fixed-header #et-top-navigation {
        padding-top: 0 !important;
        transition: padding .4s;
    }

    .et-fixed-header {
        .header-block__top {
            padding-bottom: 15px;
        }
    }

    &__top {
        position: relative;
        z-index: 999;
        padding-bottom: 25px;
        transition: padding-bottom .4s;

        @media(max-width: 1024px) {
            padding-bottom: 10px;
        }

        a {
            color: $defaulColor;
        }
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 767px) {
            justify-content: flex-end;
        }
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__email,
    &__tel {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 20px;

        @media (hover: hover) {
            &:hover {
                opacity: .5;
            }
        }
    }

    &__email {
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__email-icon,
    &__tel-icon {
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 3px;

        svg,
        path {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__info-desc {
        font-weight: 500;

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__top-left-item {
        margin-left: 10px;

        @media (hover: hover) {
            &:hover {
                opacity: .5;
            }
        }
    }

    #et_top_search {
        margin: 0;
        width: auto;
    }

    &__top-link {
        display: flex;
        align-items: center;
        cursor: pointer;

        &.top-link--search {
            .header-block__top-link-icon {
                width: 20px;
                height: 20px;

                @media(max-width: 1024px) {
                    width: 28px;
                    height: 28px;
                }

                @media(max-width: 767px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        // &.top-link--user{
        // }
        // &.top-link--like{
        // }
        &.top-link--cart-count {
            position: relative;

            .header-block__top-link-desc {
                margin-left: 20px;
            }
        }
    }

    &__top-link-icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 1024px) {
            width: 32px;
            height: 32px;
        }

        @media(max-width: 767px) {
            width: 24px;
            height: 24px;
        }

        svg,
        path {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__top-link-desc {
        margin-left: 6px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__total-cart-count {
        position: absolute;
        top: -1px;
        left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 12px;
        font-family: $Montserat;
        font-weight: 700;
        color: $white;
        background-color: $accent;
        border-radius: 50%;
        padding-left: 6px;
        padding-right: 6px;
        height: 17px;
        overflow: hidden;

        @media (max-width: 1024px) {
            top: 3px;
            left: auto;
            right: -5px;
        }

        @media(max-width: 767px) {
            top: -2px;
            right: -10px;
        }
    }

    #top-menu {
        li {
            @media (hover: hover) {
                a:hover {
                    color: $defaulColor;
                }
            }
        }

        a {
            color: rgba(1, 19, 80, 0.5);
            font-family: $Montserat;
            font-weight: 400;
        }
    }

    #top-menu li.current-menu-ancestor>a,
    #top-menu li.current-menu-item>a,
    #top-menu li.current_page_item>a {
        color: $defaulColor;
    }

    @media only screen and (min-width: 981px) {

        .et-fixed-header #top-menu li.current-menu-ancestor>a,
        .et-fixed-header #top-menu li.current-menu-item>a,
        .et-fixed-header #top-menu li.current_page_item>a {
            color: $defaulColor !important;
        }
    }

    ul.sub-menu {
        border-color: $defaulColor;
    }

    #top-menu-nav {
        #top-menu {
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    #et_mobile_nav_menu {
        @media (max-width: 1024px) {
            display: block;
        }
    }

    .et_mobile_menu .menu-item-has-children>a {
        background: transparent;
    }

    .mobile_nav {
        .et_mobile_menu {
            border-top: none;
            padding-left: 0;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            padding-right: 0;
            padding-top: 10px !important;
            padding-bottom: 60px;

            >li {
                position: relative;

                &.show-menu {
                    .nav-mobile-dropdown-btn {
                        transform: rotate(180deg);
                    }

                    .sub-menu {
                        height: auto;
                    }
                }

                &:first-child {
                    border: none;
                }
            }

            .sub-menu {
                padding-left: 15px;

                @media (max-width: 1024px) {
                    height: 0;
                    overflow: hidden;
                }

                li {
                    padding-left: 0;
                    padding-right: 0;

                    a {
                        border: none;
                    }
                }
            }
        }
    }

    #mobile_menu li>a {
        color: $defaulColor;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
        border-color: rgba(1, 19, 80, 0.3);
    }

    #mobile_menu li.current-menu-ancestor>a,
    #mobile_menu li.current-menu-item>a,
    #mobile_menu li.current_page_item>a {
        font-weight: 700;
    }

    .container.et_search_form_container {
        width: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        padding-top: 2px;
        padding-bottom: 2px;

        &.et_pb_search_visible {
            top: 0;
        }
    }

    .et-fixed-header .et_search_outer .aws-container {
        top: 0;
    }

    .et_search_form_container .aws-container {
        max-width: 640px;
        width: calc(100% - 40px);
        position: relative;
        right: 0;
        top: 0;
        margin-top: 0 !important;
        margin-right: 0 !important;

        @media (max-width: 1024px) {
            .aws-search-form {
                height: 30px;
            }
        }
    }

    .aws-search-field {
        border: 1px solid rgba(17, 34, 91, 0.3);
        border-radius: 50px !important;
    }

    .aws-search-btn.aws-form-btn {
        display: none;
    }

    .et_close_search_field {
        position: initial;
        margin: 0 0 0 10px;
    }
}

// Footer
#main-footer,
#footer-bottom {
    background-color: $defaulColor !important;
}

#footer-widgets .footer-widget li:before {
    display: none;
}

#main-footer .footer-widget h4 {
    font-weight: 700;
}

#footer-widgets .footer-widget li a {
    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-bottom-info {
    color: $white;
    padding-bottom: 15px;

    &__inner {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding-top: 10px;

        p {
            text-align: center;
        }
    }

    &__tel-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
        width: 100%;
        background-color: $white;
        border: none;
        border-radius: 20px;
        box-shadow: none;
        padding: 10px 24px;
        margin-top: 10px;
        position: relative;
        color: $defaulColor;
        transition: color .5s;
        text-align: center;

        @media (hover: hover) {
            &:hover {
                color: $accent;

                .footer-bottom-info__tel-btn-icon {

                    svg,
                    path {
                        fill: $accent;
                    }
                }
            }
        }
    }

    &__tel-btn-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;

        svg,
        path {
            display: block;
            width: 100%;
            height: 100%;
            transition: fill .5s;
        }
    }

    &__copy-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 24px;

        @media(max-width: 767px) {
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    &__copy {
        display: block;
        font-size: 12px;
        line-height: 14px;

        @media(max-width: 767px) {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-left: -5px;
        margin-right: -5px;

        @media(max-width: 767px) {
            justify-content: center;
            margin-left: -4px;
            margin-right: -4px;
        }

        li {
            margin-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;

            @media(max-width: 767px) {
                padding-left: 4px;
                padding-right: 4px;
            }

            @media (hover: hover) {
                a:hover {
                    text-decoration: underline;
                }
            }

            a {
                font-size: 12px;
                line-height: 14px;
                color: $white;
            }
        }
    }
}

.woocommerce a.added_to_cart {
    display: block;
    width: 100%;
    background-color: $accent;
    padding: 3px 5px;
    border-radius: 4px;
    margin-top: 15px;
    color: #fff !important;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.error-messages__max-products {
    display: block;
    background-color: $accent;
    color: $white;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;

    * {
        font-size: 14px;
        line-height: 18px;
    }

}



// Single Prosucts css

.woocommerce div.product div.summary {
    color: #737C9B;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: #737C9B;
}

.product_meta {
    color: #737C9B;
    font-weight: 700;

    a {
        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.woocommerce .entry-summary p.price {
    font-size: 16px !important;
    color: #666 !important;

}

.woocommerce div.product .product_title {
    color: $defaulColor;
    font-family: $Cormorant;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    @media (max-width:1440px) {
        font-size: 30px;
        line-height: 38px;
    }
}

body.woocommerce .woocommerce-tabs {
    border: 0;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs {
    background: rgba(1, 19, 80, 0.1) !important;

    &:before {
        display: none;
    }

    li {

        border: none !important;
        background: transparent !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: center;

        @media (hover: hover) {
            &:hover {
                background: $defaulColor !important;

                a {
                    color: $white !important;
                }
            }
        }

        a {
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            color: rgba($defaulColor, .5) !important;
            font-weight: 400;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }


    }
}

body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active {
    background: $defaulColor !important;

    a {
        color: $white !important;
        font-weight: 700;
    }
}

.woocommerce-notices-wrapper .woocommerce-message a {
    border: 1px solid transparent;
    color: $defaulColor !important;
    padding: 0.3em 2em 0.3em 2em !important;



    &:after {
        font-size: 16px !important;
        line-height: 18px !important;
        margin-left: 0 !important;
        color: $defaulColor !important;
        opacity: 1 !important;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
    }



    @media(hover: hover) {

        &:hover {
            background-color: transparent !important;
            border: 1px solid $white !important;
            color: $white !important;

            &:after {
                color: $white !important;
            }
        }
    }

}

.woocommerce #reviews #comments ol.commentlist {
    li {
        border-bottom: 1px solid rgba(1, 19, 80, 0.1) !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        margin: 0 !important;

        img.avatar {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    p.meta {
        * {
            color: rgba($defaulColor, .5) !important;
        }
    }
}

.woocommerce #reviews .commentlist .star-rating {
    margin-left: auto !important;
}

.comment-form-rating {
    label {
        display: block;
        margin-bottom: 10px;
    }

    p.stars {
        display: inline-block;
    }

    .star-rating span::before,
    p.stars a,
    p.stars a::before {
        width: 1.5rem;
        height: 1.5rem;
        color: $defaulColor !important;

    }
}

.woocommerce .star-rating {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .2rem;
    width: 5.82em;
}

.woocommerce .star-rating span::before,
.woocommerce p.stars a::before {
    font-size: 1.5rem;
    color: $defaulColor !important;
}

.woocommerce #reviews .commentlist .star-rating {
    height: 1.5rem;
}

.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    line-height: inherit;
    color: $defaulColor !important;
    font-family: WooCommerce;
    content: "\e021\e021\e021\e021\e021" !important;
    letter-spacing: .3rem;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {

    .woocommerce-review__author {
        color: #737C9B;
    }

    .woocommerce-review__dash {
        display: none;
    }

    .woocommerce-review__published-date {
        display: block;
    }


}

.woocommerce #reviews #comments ol.commentlist li {
    .description {
        font-size: 16px;
        line-height: 20px;
        color: $defaulColor;
        margin-top: 16px;
    }
}

.woocommerce table.shop_attributes {
    border: none;
    font-size: 16px;
    line-height: 20px;
}

.woocommerce table.shop_attributes th {

    color: #737C9B;
}

.woocommerce table.shop_attributes td {
    color: $defaulColor;
    font-style: normal;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media(min-width:768px) {
        width: 40%;
        float: left;
    }
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    @media(min-width:768px) {
        width: 55%;
        float: right;
    }
}

.woocommerce div.product .woocommerce-tabs .panel {
    @media(max-width:768px) {
        padding: 0 !important;
    }

    * {
        color: $defaulColor;
    }
}

body .comment-form {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.woocommerce-page #reviews #commentform,
.woocommerce-page #review_form #respond p.form-submit {

    margin-top: 25px;



    .form-submit {
        text-align: center;
    }

    .comment-notes {
        margin-bottom: 0;
    }
}

input:not([type='checkbox'], [type='submit'], [type='radio'], [type='search'], [data-quantity-input], #adminbar-search),
textarea {
    width: 100% !important;
    background: rgba(1, 19, 80, 0.1) !important;
    border-radius: 5px;
    color: $defaulColor !important;
    font-size: 16px !important;
    border: none !important;

    &::placeholder {
        color: $defaulColor !important;
        font-size: 16px !important;
    }
}

input:not([type='checkbox'], [type='submit'], [type='radio'], [type='search'], [data-quantity-input], #adminbar-search),
#billing_new_fild11 {
    height: 40px !important;

    @media (min-width:1024px) {
        height: 60px !important;
    }
}

textarea {
    resize: vertical;
    height: 120px !important;

    @media (min-width:1024px) {
        height: 180px !important;
    }
}

.woocommerce-noreviews,
.entry-content p,
.woocommerce #review_form #respond p {
    text-indent: 0 !important;
}

.woocommerce a.remove {
    color: $defaulColor !important;

    &:hover {
        background-color: $defaulColor !important;
        color: $white !important;
    }
}


body .et_pb_row {
    width: 96%;
}

body .et_pb_text_inner {
    max-width: 890px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body .et_pb_text_0 h1 {
    font-size: 50px;
    line-height: 60px;

    @media (max-width: 1439px) {
        font-size: 40px;
        line-height: 50px;
    }

    @media (max-width: 1023px) {
        font-size: 30px;
        line-height: 40px;
    }

    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 34px;
    }
}

.et_pb_text_align_center p {
    font-size: 20px;
    line-height: 28px;

    @media (max-width: 767px) {
        font-size: 18px;
        line-height: 24px;
    }
}

body .et_contact_bottom_container {
    align-items: center;
}

body .et_pb_blog_0 .et_pb_post .entry-title,
body .et_pb_blog_0 .not-found-title,
body .et_pb_blog_0 .et_pb_post .entry-title a,
body .et_pb_blog_0 .not-found-title {
    font-size: 20px;
    line-height: 26px !important;
}

body .et_pb_blog_0 .et_pb_post .post-content,
body .et_pb_blog_0.et_pb_bg_layout_light .et_pb_post .post-content p,
body .et_pb_blog_0.et_pb_bg_layout_dark .et_pb_post .post-content p {
    font-size: 17px;
    line-height: 24px;
}